@font-face {
  font-family: 'Helvetica Now';
  src: url(assets/fonts/HelveticaNowDisplay-ExtLt.woff2) format('woff2'),
    url(assets/fonts/HelveticaNowDisplay-ExtLt.woff) format('woff');
}
@font-face {
  font-family: 'Helvetica Now Light';
  src: url(assets/fonts/HelveticaNowDisplay-Light.woff2) format('woff2'),
    url(assets/fonts/HelveticaNowDisplay-Light.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Now', sans-serif;
  font-weight: normal;
  color: #ffffff;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: normal;

  color: #ffffff;
  background-color: #18181b;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 50px 199px 0 199px;
  height: 100vh;
}

h1 {
  margin: 0;
  font-size: 6.5rem;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-size: 36pt;
  line-height: 1.1;
}

h3 {
  margin: 0;
  font-size: 3rem;
  letter-spacing: 0.4px;
}

p {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.4px;
  font-family: 'Helvetica Now Light', sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  display: flex;
  text-decoration: none;
  color: #fff;
}

.mouse-button1:hover {
  background-color: #c2c2c2;
}
.info-card {
  padding: 3.5rem 47px;
  background: linear-gradient(117.04deg, #ffffff12, #ffffff0d);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.215);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 991px;
}

.form select:invalid {
  color: rgba(255, 255, 255, 0.6);
}

.form select:valid {
  color: #fff;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.form input,
.form select {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  backdrop-filter: blur(15px);
  padding: 1.5rem 2.5rem;
  border-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #ffffff1a;
  color: #ffffff;
  border-radius: 30px;
  outline: none;
}

.error-message {
  color: #ff4d4d;
  margin-top: 0.5rem;
}

button {
  font-family: 'Helvetica Now Light';
  font-size: 1.5rem;
  letter-spacing: 0.3px;
  padding: 1.5rem 2rem;
  letter-spacing: 0.4px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

input:-moz-autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
  caret-color: black; /* Makes caret visible on white */
  background-color: white !important;
  border-radius: 30px; /* keep your rounded style */
  transition: background-color 5000s ease-in-out 0s; /* keeps Chrome from flashing blue */
}
